mat-card {
    position: relative;
    margin: 1rem;

    &.finished {
        background: var(--mat-sys-surface-variant);
        pointer-events: none;
        text-decoration: line-through;
    }
}

mat-card-header {
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}