<mat-card>
    <mat-card-header>
        <mat-card-title>Tasks</mat-card-title>
        <button matFab extended (click)="openCreateDialog()">
            <mat-icon>add</mat-icon>
            add task
      </button>
    </mat-card-header>

    <mat-card-content>
        @defer (when tasks.hasValue()) {
            @for (task of tasks.value(); track $index) {
                <app-task-card [task]="task" (onUpdate)="openUpdateDialog($event)" (onDelete)="openDeleteDialog(task.id)" />
            } @empty {
                <p>No tasks found, try creating one</p>
            }
        } @placeholder {
            @for (_ of [].constructor(10); track $index) {
                <app-task-card />
            }
        }
    </mat-card-content>
</mat-card>
